* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "montserrat", sans-serif;
}

body {
  background-color: #fafafa;
}

.vehicle-stepbystep {
  padding-top: 40px;
  padding-left: 25px;
}

.vehicle-backtoselection {
  display: flex;
  padding: 20px 0 20px 10px;
  margin-left: 15px;
  font-size: 13px;
}

.vehicle-box {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

#vehicle_category-selection {
  background-color: #ff6666;
  color: white;
  padding: 7.5px;
}

.vehicle-backtoselection {
  display: flex;
  padding: 20px 0 20px 10px;
  margin-left: 15px;
  font-size: 13px;
}

.vehicle-backtoselection a {
  margin-right: 5px;
}

.vehicle-backtoselection span {
  margin-right: 5px;
}
.vehicle-backtoselection p {
  margin-right: 5px;
}

.adv-vehicle-body {
  display: flex;
}

.adv-vehicle-body ul {
  list-style: none;
  padding: 10px;
  width: 200px;
  height: 300px;
  margin-left: 20px;
  background-color: #f7d9d9;
  border: solid 1px #dedede;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.adv-vehicle-body ul li {
  color: black;
  padding: 10px;
  font-size: 13px;
  cursor: pointer;
  transition: background-color 0.2s;
  transition: background-color 0.2s;
  border-bottom: 1px solid #ddd;
}

.adv-vehicle-body ul li:hover {
  background-color: #ff6666;
  color: white;
  font-weight: bold;
}

.adv-vehicle-body ul li:last-child {
  border-bottom: none; /* Remove the border for the last item */
}

.vehicle-content {
  width: 80%;
  height: 500px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 0 10px rgba(236, 36, 36, 0.2) inset; /* Add an inset box shadow around the border */
}

.adv-vehicle-body .lastchild {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  gap: 1rem;
}

.adv-vehicle-body p {
  color: black;
  text-align: center;
  font-size: 13px;
}

.adv-vehicle-body button {
  text-align: center;
  font-size: 13px;
  background-color: #ff6666;
  padding: 10px;
  border-radius: 2px;
  border: 1px solid #cccccc;
  cursor: pointer;
  opacity: 1;
  color: black;
  box-shadow: 1px 0 2px 0 #f85959;
  border: 2px solid #fc6262;
}

.adv-vehicle-body button:hover {
  opacity: 0.9;
  transition: opacity 0.3 ease;
  color: #fff;
  font-weight: bold;
}

.adv-vehicle-body .lastchild img {
  height: 50px;
  width: 50px;
}
