* {
  box-sizing: border-box;
  font-family: "montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

.adv-services_step_four_main {
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 0 10px rgba(236, 36, 36, 0.2) inset;
  margin: 0 auto;
  margin-bottom: 50px;
  width: 80%;
  height: 100%;
}

.adv-services_step_four_main h2 {
  font-weight: bold;
  width: 100%;
  text-align: center;
  color: #624848;
  padding: 2rem;
}

.adv-services_step_four_main_wrapper {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  gap: 1rem;
}
.populer_adv_container {
  background-color: rgb(251, 240, 227);
  height: 300px;
  border: 0.5px solid burlywood;
  flex: 1;
  border-radius: 20px;
}

.populer_adv_container h4 {
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: #624848;
  font-weight: bold;
  background-color: burlywood;
  border-radius: 20px 20px 0 0;
}

.vitrin_adv_container {
  height: 300px;
  border: 1px solid rgb(234, 230, 225);
  flex: 1;
  border-radius: 20px;
  background-color: #f7f5f5;
}

.vitrin_adv_container h4 {
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: #624848;
  font-weight: bold;
  background-color: rgb(234, 230, 225);
  border-radius: 20px 20px 0 0;
}

.populer_adv_container_main ul,
.vitrin_adv_container_main ul {
  color: #624848;
  font-weight: bold;
  padding-left: 3rem;
  flex-direction: column;
  gap: 0.5rem;
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.populer_select_container,
.vitrin_select_container {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.populer_select_container select,
.vitrin_select_container select {
  color: #624848;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: burlywood;
  width: 200px;
  cursor: pointer;
}

.vitrin_select_container select {
  background-color: rgb(234, 230, 225);
}
