* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.photo-upload_container {
  padding: 20px;
  background-color: #fafafa;
}

.photo_container_wrapper {
  display: flex;
  gap: 2rem;
  margin-top: 1rem;
  border: 1px solid #ccc;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
  height: auto;
  overflow-x: auto;
}

.photo_container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-left: 20px;
  margin-top: 20px;
  padding-bottom: 15px;
}

.button_wrapper button {
  cursor: pointer;
}

.addphoto_header {
  width: 100%;
  word-wrap: break-word;
}

.upload-info {
  font-size: 14px;
  color: #555; /* Adjust the color according to your design */
  margin-left: 10px; /* Adjust the margin as needed */
}

.photo_image {
  width: 250px;
  height: auto;
  max-height: 150px; /* Adjust the max-height according to your design */
  z-index: 1; /* Adjust the value based on your layout */
}

.upload_button_container {
  width: 100%;
  background-color: #ccc;
  padding: 0.2rem;
}

.upload_button {
  display: flex;
  align-items: center;
  border: none;
  cursor: pointer;
  padding: 0.2rem;
  gap: 0.5rem;
}

.upload_button:hover {
  opacity: 0.8;
}

.trash_icon {
  margin: 0 auto;
}

.image_wrapper {
  position: relative;
}
