/* * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "montserrat", sans-serif;
}

body {
  background-color: #fafafa;
}

.stepbystep {
  padding-top: 40px;
  padding-left: 25px;
}

.backtoselection {
  display: flex;
  padding: 20px 0 20px 10px;
  margin-left: 15px;
  font-size: 13px;
}

.emlak-box {
  display: flex;
  flex-direction: column;
  gap: 3rem;
} */
